<!DOCTYPE html>
<html>
<head>
	<script>
        document.addEventListener('DOMContentLoaded', () => {
            var secretChannel = '{{channel}}';
            localStorage.removeItem('lastChannel');
                // By default, submit button is disabled
            document.querySelector('#submit').disabled = true;

            // Enable button only if there is text in the input field
            document.querySelector('#password').onkeyup = () => {
                if (document.querySelector('#password').value.length > 0)
                    document.querySelector('#submit').disabled = false;
                else
                    document.querySelector('#submit').disabled = true;
            };
            document.querySelector('#password-form').onsubmit = () => {
				// Clear input field and disable button again
                window.location.replace('/shhh/' + channel);
                document.querySelector('#username').value = '';
                document.querySelector('#submit').disabled = true;

				// Stop form from submitting
				return false;
			};
        });
    </script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
	<link rel="stylesheet" type="text/css" href="..\static\login.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<style>
		body{background-color: #f5f5f5;}
	</style>
	<title>Gambeta Chat</title>
</head>
	<body>
		{% if message %}
		<div class="alert alert-danger" role="alert">
			{{message}}
		  </div>
		{% endif %}
		<form class="form-signin" class="text-center" method="post" id="password-form">
			<img  class="text-center" src="..\static\logo.png" alt="" width="200" height="200">
			<h1 class="h3 mb-3 font-weight-normal">Top Secret</h1>
			<label for="password" class="sr-control"></label>
			<input type="password" id="password" class="form-control" name="password" placeholder="Type here your passsword" required autofocus/>
			<div class="control">
			<input class="btn btn-lg btn-primary btn-block" id="submit" type="submit" value="Connect"/>
		</form>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>